[submodule "infra"]
	path = eng/infra
	url = git@github.com:ljtill/pipelines-infra.git
	branch = main
[submodule "config"]
	path = eng/config
	url = git@github.com:ljtill/pipelines-config.git
	branch = main
[submodule "images"]
	path = eng/images
	url = git@github.com:ljtill/pipelines-images.git
	branch = main
[submodule "tools"]
	path = eng/tools
	url = git@github.com:ljtill/pipelines-tools.git
	branch = main